<h1>Search Results</h1>
<%= form_with url: search_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query], placeholder: 'Search for a movie' %>
  <%= submit_tag 'Search' %>
<% end %>

<ul>
  <% @results['results'].each do |movie| %>
    <li>
      <%= link_to movie['title'], movie_path(movie['id']) %>
    </li>
  <% end %>
</ul>
