<!-- app/views/movies/show_multiple_random.html.erb -->
<h1>ランダムな映画たち</h1>
<% if @movies.present? %>
  <div class="movies-list">
    <% @movies.each do |movie| %>
      <div class="movie-item">
        <h2><%= movie['title'] %></h2>
        <p><%= movie['overview'] %></p>
        <% if movie['poster_path'].present? %>
          <img src="https://image.tmdb.org/t/p/w500<%= movie['poster_path'] %>" alt="<%= movie['title'] %>">
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>映画情報を取得できませんでした。</p>
<% end %>
