<h1>ランダム映画のあらすじ</h1>
<p id="shuffled-synopsis"></p>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const text = `<%= j @shuffled_synopsis %>`;
    const element = document.getElementById('shuffled-synopsis');
    let index = 0;
    
    function typeEffect() {
      if (index < text.length) {
        element.innerHTML += text.charAt(index);
        index++;
        setTimeout(typeEffect, 50); // 速度を調整
      }
    }
    
    typeEffect();
  });
</script>
