<div class="related-movie-images">
  <% @bookmarked_movies_by_date.each do |date, tmdb_ids| %>
    <% tmdb_ids.each do |tmdb_id| %>
      <div class="related-movie-image-wrapper">
        <%= link_to related_movie_path(tmdb_id) do %>
          <img src="https://image.tmdb.org/t/p/w200<%= movie_poster_path(tmdb_id) %>" alt="映画ポスター" class="related-movie-image">
        <% end %>
        <div class="button-container">
          <% if current_user.bookmarked_movies.exists?(tmdb_id: tmdb_id) %>
            <%= render partial: 'related_movies/bookmark_remove_button', locals: { movie_id: tmdb_id } %>
          <% else %>
            <%= render partial: 'related_movies/bookmark_add_button', locals: { movie_id: tmdb_id } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<style>
.related-movie-image-wrapper {
  position: relative;
  display: inline-grid;
  margin: 10px; /* 画像間の余白を調整 */
}

.related-movie-image {
  display: block;
  width: 100%; /* 必要に応じてサイズを調整 */
  height: auto;
}

.button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.bookmark-link {
  color: white;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #ffb5b5;
}

form.button_to {
  width: 30px;
}

.bookmark-add-button {
  background: none;
  border: none;
  padding: 0;
  color:  black;
  cursor: pointer;
}

.bookmark-remove-button {
  background: none;
  border: none;
  padding: 0;
  color:  #ffb5b5;
  cursor: pointer;
}
</style>