<div>
  <%= render 'users/bookmark_of_movies/bookmarked_movies_count_calendar' %>
</div>

<div>
  <%= render partial: 'users/bookmark_of_movies/bookmarked_movies_list', locals: { bookmarked_movies_by_date: @bookmarked_movies_by_date } %>
</div>

<div class="link-icon-container">
  <div class="calendar-toggle-for-related-movies" id="calendar-toggle-for-related-movies">
    <i class="fa fa-3x fa-calendar"></i>
  </div>
  <div class="count-wrapper">
    <%= link_to user_bookmark_of_shuffled_overviews_path, class:"link-to-shuffled-overviews" do %>
      <span class="count"><%= current_user.bookmarked_shuffled_overviews.count %></span>
      <i class="fas fa-3x fa-book-open"></i>
      <i class="fas fa-heart"></i>
    <% end %>
  </div>
</div>

</div>


<style>
.calendar-toggle-for-related-movies {
  position: fixed;
  bottom: 140px; /* ヘッダーの高さに応じて調整 */
  right: 30px;
  z-index: 1000;
  cursor: pointer;
}

.link-to-shuffled-overviews {
  position: fixed;
  bottom: 70px; /* ヘッダーの高さに応じて調整 */
  right: 30px;
  z-index: 1000;
  cursor: pointer;
  color: black;
}

.count-wrapper .count {
  position: absolute;
  top: -9px; /* 上方向の調整 */
  right: -18px; /* 右方向の調整 */
  background-color: red; /* カウント数の丸の背景色 */
  color: white; /* カウント数のテキストの色 */
  border-radius: 50%; /* 丸い形にする */
  padding: 2px; /* テキスト周りの余白 */
  font-size: 12px; /* テキストサイズ */
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px; /* 丸の幅を固定 */
  height: 24px; /* 丸の高さを固定 */
}

.count-wrapper .fa-heart {
  position: absolute;
  top: 30px;
  right: -12px;
  color: red;
  border-radius: 50%;
  padding: 2px;
  font-size: 6px;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}


.related-movie-images {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start /* 中央揃え */;
}

.related-movie-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.related-movie-image img {
  width: 150px;
  height: auto;
  object-fit: cover;
  display: block;
}
</style>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const calendarContainer = document.querySelector('#bookmarked_movies_count_calendar');

  function showCalendar() {
    calendarContainer.classList.remove('hidden');
    calendarContainer.classList.add('visible');
  }

  function hideCalendar() {
    calendarContainer.classList.remove('visible');
    calendarContainer.classList.add('hidden');
  }

  // カレンダーを表示するボタンやイベントが必要ならここで設定
  const calendarToggleBtn = document.querySelector('#calendar-toggle-for-related-movies');
  if (calendarToggleBtn) {
    calendarToggleBtn.addEventListener('click', () => {
      if (calendarContainer.classList.contains('hidden')) {
        showCalendar();
      } else {
        hideCalendar();
      }
    });
  }
});

</script>