<div class="fixed-calendar hidden" id="shuffled_overviews_count_calendar_for_related_movies">
  <div class="calendar-container-for-related-movies">
    <%= month_calendar do |date| %>
      <div class="calendar-day">
        <%= date.day %>
        <% if @grouped_overviews_with_movie_counts[date] %>
            <%= link_to filter_movies_by_date_user_related_movies_path(date: date), remote: true, class: "count" do %>
                <div><%= @grouped_overviews_with_movie_counts[date] %></div>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<style>
.fixed-calendar.visible {
  display: flex; /* 表示時にフレックスに変更 */
}

.hidden {
  display: none;
}


.calendar-container-for-related-movies {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1100px; /* カレンダーの最大幅を設定 */
  align-items: center;
}


.fixed-calendar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 900;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none; /* 初期状態で非表示 */
  flex-direction: column;
  align-items: center;
}

.content {
    padding: 20px;
}

.calendar-day {
    position: relative;
}

.count {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  opacity: 70%;
  color: white;
  border-radius: 50%;
  text-align:center;
  line-height: 40px;
  position:absolute;
  top: 100%;
  left: 30%;
  text-decoration: none;
}
</style>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const calendarContainer = document.querySelector('#shuffled_overviews_count_calendar_for_related_movies');

  
  document.addEventListener('click', function(event) {
    const target = event.target.closest('.previous, .next, .today, .start-date');
    if (target) {
      event.preventDefault();
      const url = target.href;

      fetch(url, {
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
      .then(response => response.text())
      .then(html => {
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');
        const newCalendar = doc.querySelector('#shuffled_overviews_count_calendar_for_related_movies').innerHTML;
        calendarContainer.innerHTML = newCalendar;
        registerNavigationEvents();  // 必要な場合にイベントハンドラを再登録
      });
    }
  });

  function registerNavigationEvents() {
    // ナビゲーションリンクのイベントハンドラを再登録
    document.querySelectorAll('.previous, .next, .today, .start-date').forEach(link => {
      link.addEventListener('click', event => {
        event.preventDefault();
        const url = event.target.href;

        fetch(url, {
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
        .then(response => response.text())
        .then(html => {
          const parser = new DOMParser();
          const doc = parser.parseFromString(html, 'text/html');
          const newCalendar = doc.querySelector('#shuffled_overviews_count_calendar_for_related_movies').innerHTML;
          calendarContainer.innerHTML = newCalendar;
          registerNavigationEvents();  // 必要な場合にイベントハンドラを再登録
        });
      });
    });
  }

    function getFormattedDate(date) {
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, '0');
      const day = String(date.getDate()).padStart(2, '0');
      return `${year}-${month}-${day}`;
    }
  
    // 現在の日付を取得
    const todayDate = new Date();
    const formattedDate = getFormattedDate(todayDate);
  
    function registerNavigationEvents() {
      document.querySelectorAll('.start-date').forEach(link => {
        link.addEventListener('click', event => {
          event.preventDefault();
          const baseUrl = event.target.closest('a').href;
          // URLのパスが"/filter_movies_by_date" で終わる場合に追加する
          const url = `${baseUrl.replace(/\/filter_movies_by_date\/.*$/, '')}/filter_movies_by_date/${formattedDate}`;
  
          fetch(url, {
            headers: {
              'X-Requested-With': 'XMLHttpRequest'
            }
          })
          .then(response => response.text())
          .then(html => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(html, 'text/html');
            const newCalendar = doc.querySelector('#shuffled_overviews_count_calendar_for_related_movies').innerHTML;
            calendarContainer.innerHTML = newCalendar;
  
            // URLを更新
            window.history.pushState({}, '', url);
            window.location.reload();
  
            // Debug: check if shuffled-overview-list exists
            const shuffledOverviewList = doc.querySelector('.related-movie-images');
            if (shuffledOverviewList) {
              document.querySelector('.related-movie-images').innerHTML = shuffledOverviewList.innerHTML;
            } else {
              console.error('.related-movie-images element not found.');
            }
            registerNavigationEvents();
          })
          .catch(error => console.error('Error:', error));
        });
      });
    }
  
    registerNavigationEvents();
  });
  
</script>