<%= link_to follows_path(followed_id: user.id), method: :post, remote: true, class: 'btn btn-primary formal-btn-follow' do %>
  <span>フォローする</span>
<% end %>


<style>
.formal-btn-follow {
  border: none;
  background-color:  #ffb5b5;
  cursor: pointer;
}
</style>
