  /* app/assets/stylesheets/custom.css */
  .genre-tag {
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0.2em;
    background-color: #6c757d; /* 灰色 */
    color: white;
    border-radius: 0.25em;
    font-size: 0.9em;
  }
