<!-- app/views/shuffled_overviews/related_movies.html.erb -->
<div class="movie-images">
  <% @movies_data.each do |movie_id, movie| %>
    <div class="movie-image">
      <img src="https://image.tmdb.org/t/p/w200<%= movie['poster_path'] %>" alt="Movie Poster">
    </div>
  <% end %>
</div>

<style>
.movie-images {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start /* 中央揃え */
}

.movie-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-image img {
  width: 150px;
  height: auto;
  object-fit: cover;
  display: block;
}
</style>
