<button id="hamburger-button" class="hamburger-button">
    <i class="fas fa-bars"></i>
</button>

<nav id="hamburger-menu" class="hamburger-menu hidden">
    <button id="close-button" class="close-button">
    <i class="fas fa-times"></i>
    </button>

    <ul>
        <li><%= link_to 'プロフィール', profile_path %></li>
        <li><%= link_to '設定', settings_path %></li>
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
    </ul>
</nav>
